body {
  padding: 0px;
  margin: 0px;
}

#students_data {
  border: 0px solid black;
  width: 30%;
  height: 300px;
}

#name {
  width: 65%;
  height: 20px;
  margin: 10px;

}

#course {
  width: 65%;
  height: 20px;
  margin: 9px;

}

#unit {
  width: 65%;
  height: 20px;
  margin: 9px;
}

#image {
  width: 65%;
  height: 20px;
  margin: 9px;
}

#batch {
  width: 65%;
  height: 20px;
  margin: 9px;
}